@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'inter';
}

#header .nav-link {
  transition: all 0.2s;
}

#header .nav-link:hover,
#header .nav-link:active {
  background-color: #3077E7;
  ;
  padding: 8px 20px;
  border-radius: 20px;
  color: white;
}

.font-size-80 {
  font-size: 80px;
}

.font-size-72 {
  font-size: 72px;
}

.font-size-70 {
  font-size: 70px;
}

.font-size-54 {
  font-size: 54px;
}

.font-size-50 {
  font-size: 50px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-14 {
  font-size: 14px;
}

.font-color {
  color: #006FF9;
}

.button-color {
  background-color: #3077E7;
  color: white;
}

.button-2-color {
  background-color: white;
  color: #006FF9;
  padding: 10px 20px;
  border-radius: 35px;
}

.button-2-color:hover,
.button-2-color:active {
  opacity: 0.8;
  border: none;
  color: black;
  background-color: azure;
}

.button-color:hover {
  opacity: 0.8;
  background-color: #3077E7;
  ;
  color: white;
}

.font-weight {
  font-weight: 500;
  letter-spacing: 0cm;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#section-1 h1 {
  margin-top: 140px;
}


.section-1-img,
.section-2-img,
#section-5,
#section-11 .overlap-8 {
  position: relative;
}

.overlap-img-1 {
  position: absolute;
  top: 4%;
  right: 25%;
  left: 66%;
  bottom: 95%;
}

.overlap-img-2 {
  position: absolute;
  top: 66%;
  right: 14%;
  left: 70%;
  bottom: 30%;
}

.overlap-img-3 {
  z-index: -99;
  position: absolute;
  top: 78%;
  right: 85%;
  left: 5%;
  bottom: 20%;
}

.overlap-img-4 {
  z-index: -99;
  position: absolute;
  top: 82%;
  right: 65%;
  left: -100%;

}

#section-2 .back-color {
  background: rgba(0, 111, 249, 0.04);
}

.overlap-img-5 {
  z-index: -99;
  position: absolute;
  top: 90%;
  right: -10%;
  left: 83%;
}

#section-2 .row {
  padding-bottom: 70px;
}

#section-3 p li {
  color: #605E5C;
}

#section-3 h2 {
  background: #EEFAFF;
  border-radius: 12px 12px 0px 0px;
  color: #006FF9;
}

#section-3 .box-shadow-class {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}

#section-4 .row {
  position: relative;
}

#section-4 .card {
  position: absolute;
  top: 20%;
  bottom: 30%;
  left: 50%;
  right: 20%;
  width: 30%;
  border: none;
}

#section-5 .row {
  padding-top: 50px;
}

.overlap-img-6 {
  position: absolute;
  top: 10%;
  right: 20%;
  left: 20%;
  bottom: 10%;
}

.overlap-img-7 {
  position: absolute;
  top: 60%;
  right: 0%;
  left: 90%;
  bottom: 10%;
}

#section-7 {
  background: rgba(0, 111, 249, 0.04);
}

#section-7 .icon-img {
  background-color: #006FF9;
  border: none;
  border-radius: 50%;
  padding: 20px 25px;
}

#section-7 .icon-img1 {
  padding: 24px 26px;
}

#section-7 .icon-img2 {
  padding: 31.5px 38px;
}

#section-9 .row {
  background-color: #006FF9;
  ;
}

#section-11 ul li a:hover {
  background-color: white;
  border-radius: 25px;
  padding: 10px 20px;
  color: #006FF9 !important;
  transition: all 0.2s;
}

#section-11 ::placeholder {
  color: #006FF9;
}

#section-11 button {
  position: absolute;
  right: 2%;
  top: -50%;

}

@media(max-width:1400px) {
  .font-size-72 {
    font-size: 56px;
  }

  .font-size-70 {
    font-size: 54px;
  }

  .font-size-54 {
    font-size: 48px;
  }

  .font-size-50 {
    font-size: 40px;
  }
}



@media(max-width:1200px) {
  .font-size-72 {
    font-size: 50px;
  }

  .font-size-70 {
    font-size: 50px;
  }

  .font-size-50 {
    font-size: 36px;
  }

  #section-1 p {
    font-size: 15px;
  }

  .overlap-img-2 {
    top: 58%;
  }

  .overlap-img-3 {
    top: 68%;
  }
}

@media(max-width:992px) {
  .font-size-72 {
    font-size: 44px;
  }

  .font-size-70 {
    font-size: 40px;
  }

  .font-size-50 {
    font-size: 28px;
  }

  #section-2 .font-size-72 {
    font-size: 44px;
  }

  .overlap-img-2 {
    top: 68%;
  }

  .overlap-img-3 {
    top: 78%;
  }

  .font-size-54 {
    font-size: 40px;
  }

  .font-size-24 {
    font-size: 20px;
  }
}

@media(max-width:576px) {
  .text-align-center {
    text-align: center;
  }
}